<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form id='form' enctype='multipart/form-data'>
    <input type="text" name='title' id='title' >
    <input type="file" name='file' id='file'>
    <input type="submit">
</form>

<br/>
<div class="progress hidden">
    <div id='progress' class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div class="area">

</div>